body {
    background-image:url(../img/sandjpeg.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

/* HEADER */

.jumbotron {
    background-image: url(../img/globe.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
    width:100%;
    padding:10% 5%;
    border-bottom: #006 groove 5px;
    border-top: #006 groove 5px;
    margin-bottom: 150px;
    font-family: "Poiret One", sans-serif;
    text-shadow: 4px 4px 10px #006;
}

.jumbotron h1 {
    font-size: 8rem;
    margin:-15px 0 5px 0;
    text-align:left;
    color:oldlace;
}

.jumbotron h2 {
    font-size:2.5em;
    margin: 5px 0 5px 0;
    color:oldlace;
}

.nav {
    margin:10px 0 20px 0;
    padding: 30px 0 30px 0;
    text-align: center;
}
.nav li {
    font-family: "Raleway", sans-serif;
    color: oldlace;
    font-size:2em; 
    list-style-type: none;
    display:inline-block;
    padding: 100px 25px 0px 25px; 
}

a:hover {
    text-shadow: 4px 4px 10px #FFF;
    text-decoration: none;
}


