body {
    background-image:url(../img/sandjpeg.jpeg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment: fixed;
    padding: 0;
    margin: 0;
}

/* HEADER */

.jumbotron {
    background-image: url(../img/globe.jpeg);
    background-size: cover;
    background-repeat:no-repeat;
    border-bottom: #006 groove 5px;
}

/* TEXT */

h1, h2, h3, h6 {
    font-family: "Poiret One";
    color:#fff;
    font-size: 3.7em;
}

h2 {
   font-size: 2em; 
}

h3 {
    font-size: 2.3em;
    color:#006;
}

h6 {
    font-size: 1.2em;
    color:#006;
}

a, p {
    font-family:"Raleway";
}

.navbar-inverse .navbar-brand {
    color:#006;
}

a:hover {
    text-shadow: 4px 4px 10px #FFF;
    text-decoration: none;
}

label {
    font-family:Raleway;
    font-size: 1.2em;
    color:#FFF;
}

li {
    list-style-type: none;
    font-family: "Raleway";
    font-size: 1.5em;
    color: #006;
}

/* CONTENT */

.btn-primary {
    background-color:#006;
    border-color:#fff;
    font-family:"Poiret One";
}

.formbox {
    background-color:#006;
    color:#fff;
    padding:25px;
    margin-bottom:50px;
    border-radius:10px;
}

.centering {
  float:none;
  margin:0 auto;
}

.read_list {
    background-color: rgba(255, 250, 240, .6);
    border: #006 groove 5px; 
    border-radius:10px;
    margin: 50px;
    padding: 30px;
}
 
/* IMAGES */

img.main {
    max-width:300px;
    border: #006 groove 5px;
    margin-bottom: 30px;
}

img.list {
    max-width:100px;
    border: #006 groove 5px;
    margin: 30px;
}

